body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");
}
.inner_wrapper{
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 20px #000;
}

.row{
    position: relative;
    height: 50%;
    overflow: auto;
}
.btn{
    width: 50%;
    height: 100%;
    float: left;
    cursor: pointer;
    position: relative;
    border-image: url("background.jpg") 30 repeat;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
.overlay.active, .btn:active .overlay{
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
}
.btn.disabled{
    pointer-events: none;
}
._0{
    background-color: green;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
}
._1{
    background-color: red;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
}
._2{
    background-color: yellow;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
}
._3{
    background-color: blue;
    border-left: 5px solid #fff;
    border-top: 5px solid #fff;
}
.controls.big{
    box-shadow: inset 0px 0px 10px #000;
    padding-top: 2em;
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 50%;
    background-image: url("background.jpg");
}
.controls.big h2{
    position: relative;
    font-family: "Baloo Da",Arial,sans-serif;
    font-weight: bold;
}
.controls .control{
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}
.controls .start,
.controls .strict{
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #999;
    color: #999;
    background-color: #e9e9e9;
}
.controls .strict.enabled{
    background-color: yellow;
    color: #000;
}
.controls .start.enabled{
    background-color: red;
    color: #fff;
}
.controls .start.enabled:active{
    transform: scale(0.97);
}
.controls .on_off{
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #999;
    padding: 0.2em;
    border-radius: 1em;
    top: 0.5em;
}
.controls .on_off.enabled{
    background-color: limegreen;
}
.controls .on_off.enabled .round_slider{
    left: 20px;
}
.controls .round_slider{
    position: relative;
    width: 20px;
    height: 20px;
    left: 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.3s;
}
.result{
    margin: 1em;
    background: #000;
    color: #fff;
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 1em;
    overflow: auto;
}
.result div{
    width: 50%;
    float: left;
}
.result .loss{
    float: none;
}
.alert_message{   
    font-weight: bold;
}
.small{
    display: none;
    margin-top: 1em;
    text-align: center;
}
@media only screen and (max-width: 768px){
    .inner_wrapper{
        width: 70vw;
        height: 70vw;
    }
    .big .control,
    .big .on_off_container{
        display: none;
    }
    .big h2{
        top: 25%;
    }
    .small{
        display: block;
    }
}